<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.ues.fia.eisi.proyectopdm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.PrimeraRevisionActivity"></activity>
        <activity android:name=".Activity.VerAsignaturaActivity" />
        <activity android:name=".Activity.NuevaAsignaturaActivity" />
        <activity android:name=".Activity.EditarSolicitudExtraordinarioActivity" />
        <activity android:name=".Activity.VerSegundaRevisionActivity" />
        <activity android:name=".Activity.NuevaEditarSegundaRevisionActivity" />
        <activity android:name=".Activity.VerAreaAdmActivity" />
        <activity android:name=".Activity.NuevaEditarAreaAdmActivity" />
        <activity android:name=".Activity.AreaAdmActivity" />
        <activity android:name=".Activity.EditarCargoActivity" />
        <activity android:name=".Activity.VerCargoActivity" />
        <activity android:name=".Activity.NuevoCargoActivity" />
        <activity android:name=".Activity.VerSolicitudExtraordinarioActivity" />
        <activity android:name=".Activity.SolicitudExtraordinarioActivity" />
        <activity android:name=".Activity.NuevoLocalActivity" />
        <activity android:name=".Activity.NuevoCicloActivity" />
        <activity android:name=".Activity.VerCicloActivity" />
        <activity android:name=".Activity.VerLocalActivity" />
        <activity android:name=".Activity.CargoActivity" />
        <activity android:name=".Activity.AsignaturaActivity" />
        <activity android:name=".Activity.NuevaEditarEvaluacionActivity" />
        <activity android:name=".Activity.NuevaSolicitudImpresionActivity" />
        <activity android:name=".Activity.SolicitudImpresionActivity" />
        <activity android:name=".Activity.CicloActivity" />
        <activity android:name=".Activity.LocalActivity" />
        <activity android:name=".Activity.EvaluacionActivity" />
        <activity android:name=".Activity.AlumnoActivity" />
        <activity android:name=".Activity.MenuActivity" />
        <activity android:name=".Activity.AgregarAlumnoActivity" />
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.NuevaSolicitudExtraordinarioActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.VerEvaluacionActivity" />
    </application>

</manifest>